*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
%juzhong {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_warper {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  .navbar {
    width: 100%;
  }
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px 24px;
    font-size: 14px;
    .left {
      padding: 24px 0;
      width: 16%;
      height: 100%;
      display: flex;
      flex-direction: column;
      span {
        width: 100%;
        height: 40px;
        padding: 0 16px 0 24px;
        display: flex;
        align-items: center;
      }
    }
    .right {
      width: 84%;
      height: 100%;
      padding: 24px 24px;
      border-left: 1px solid #e8e8e8;
      display: flex;
      flex-direction: column;
      .tit {
        width: 100%;
        height: 72px;
        padding: 24px 0;
        display: flex;
        align-items: center;
      }
      .showbox {
        flex: 1;
        display: flex;
        flex-direction: column;
        .addbtn {
          display: flex;
          width: 34px;
          height: 34px;
          border-radius: 50%;
          background: #3ec6b6;
          color: #fff;
          font-size: 30px;
          font-weight: 200;
          @extend %juzhong;
          margin-top: 24px;
          margin-bottom: 48px;
        }
        .el-table__row {
          height: 116px;
        }
        .table {
          margin-top: 24px;
          .el-table__row {
            height: 53px;
          }
        }
        li {
          width: 100%;
          height: 30px;
          display: flex;
          span {
            margin-right: 30px;
          }
        }
        .alemd {
          margin-top: 24px;
          color: #3ec6b6;
        }
      }
    }
  }
}
