* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.card_warper .right .showbox .addbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_warper {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 24px 24px;
  font-size: 14px;
}

.card_warper .left {
  padding: 24px 0;
  width: 160px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card_warper .left span {
  width: 100%;
  height: 40px;
  padding: 0 16px 0 24px;
  display: flex;
  align-items: center;
}

.card_warper .right {
  padding: 24px 24px;
  flex: 1;
  border-left: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
}

.card_warper .right .tit {
  width: 100%;
  height: 72px;
  padding: 24px 0;
  display: flex;
  align-items: center;
}

.card_warper .right .showbox {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card_warper .right .showbox .addbtn {
  display: flex;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #3ec6b6;
  color: #fff;
  font-size: 30px;
  font-weight: 200;
  margin-top: 24px;
  margin-bottom: 48px;
}

.card_warper .right .showbox .el-table__row {
  height: 116px;
}
