* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.card_warper .content .right .showbox .addbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_warper {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.card_warper .navbar {
  width: 100%;
}

.card_warper .content {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px 24px;
  font-size: 14px;
}

.card_warper .content .left {
  padding: 24px 0;
  width: 16%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card_warper .content .left span {
  width: 100%;
  height: 40px;
  padding: 0 16px 0 24px;
  display: flex;
  align-items: center;
}

.card_warper .content .right {
  width: 84%;
  height: 100%;
  padding: 24px 24px;
  border-left: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
}

.card_warper .content .right .tit {
  width: 100%;
  height: 72px;
  padding: 24px 0;
  display: flex;
  align-items: center;
}

.card_warper .content .right .showbox {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card_warper .content .right .showbox .addbtn {
  display: flex;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #3ec6b6;
  color: #fff;
  font-size: 30px;
  font-weight: 200;
  margin-top: 24px;
  margin-bottom: 48px;
}

.card_warper .content .right .showbox .el-table__row {
  height: 116px;
}

.card_warper .content .right .showbox .table {
  margin-top: 24px;
}

.card_warper .content .right .showbox .table .el-table__row {
  height: 53px;
}

.card_warper .content .right .showbox li {
  width: 100%;
  height: 30px;
  display: flex;
}

.card_warper .content .right .showbox li span {
  margin-right: 30px;
}

.card_warper .content .right .showbox .alemd {
  margin-top: 24px;
  color: #3ec6b6;
}
